MFrameWorking.csproj
MFrameWorking.Editor.csproj
MFrameWorking.sln
MFrameWorking.Plugins.csproj
MFrameWorking.Editor.Plugins.csproj
Temp/
Library/
.vs/
UnityPackageManager/
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
obj/
